# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
build/
.env
.env.*
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.vscode/
.idea/
*.local
*.log
*.cache
*.tmp
*.swp
*.swo
*.swn
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
